@import "../../utils/Mixins.scss";

.popup-background {
  animation: opacity .25s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 35%);
  width: 100%;
  height: 100%;
  &-close {
    animation: opacity .25s reverse forwards
  }
}

.popup {
  @include grayBackground(18%);
  @include shadow;
  animation: scale .25s;
  border-radius: 20px;
  position: relative;
  left: 12.5%;
  top: 12.5%;
  width: 75%;
  height: 75%;

  &-close {
    animation: scale .25s reverse forwards
  }
}

.popup-x {
  cursor: pointer;
  position: absolute;
  right: 12px;
}